#edit-simple_note { overflow: hidden ; }
.ui-dialog.edit-simple_note .ui-dialog-buttonpane { border: none ; margin-top: 0 !important ; padding-top: 0 !important ; }

.ui-dialog.edit-simple_note textarea { resize: none ; width: calc(100% - 4px) ; height: 100% ; }
.ui-dialog.edit-simple_note label[for="width"] { color: #444 ; }
.ui-dialog.edit-simple_note input[name="width"] { color: #444 ; }
