#edit-template { overflow: hidden ; }
.ui-dialog.edit-template .ui-dialog-titlebar { background: #f8d868 ; }
.ui-dialog.edit-template .ui-dialog-buttonpane { border: none ; margin-top: 0 !important ; padding-top: 0 !important ; }

.ui-dialog.edit-template textarea { resize: none ; width: calc(100% - 4px) ; height: 100% ; }
.ui-dialog.edit-template textarea { font-family: monospace ; font-size: 80% ; }
