* { margin: 0 ; padding: 0 }
html { height: 100% ; }
body { height: 100% ; overflow: hidden ; }

ul, ol { margin: 0.5em 0 0 1.25em ; br}

input[type="text"] { height: 1.25em ; border: 1px solid #c5c5c5 ; }
label { height: 1.25em ; margin-top: -3px ; }

/* -------------------------------------------------------------------- */

#menu { position: absolute ; top: 15px ; right: 8px ; z-index: 1 ; }
#menu input[type='image'] { height: 30px ; }

.PopMenu-Item { width: 11em ; }
.PopMenu-Item a { padding: 5px 10px 5px 10px ; }
.PopMenu-Icon { display: none ; }

#watermark { position: absolute ; left: 8px ; right: 8px ; bottom: 6px ; height: 30% ; }
#watermark { background: url("../images/watermark2.png") left bottom repeat-x ; background-size: auto 100% ; z-index: -999 ; }
#watermark img { height: 100% ; }
#tabs { opacity: 0.9 ; }

/* -------------------------------------------------------------------- */

#tabs {
    display: none ;
    position: absolute ; top: 5px ; bottom: 5px ; left: 5px ; right: 5px ;
    border: none ;
}

#tabs .ui-tabs-nav { background: white ; border: none ; }
#tabs .ui-tabs-nav a { color: #888 ; }
#tabs .ui-tabs-nav a:hover { color: #444 ; }
#tabs .ui-tabs-tab.ui-state-active a { color: #444 ; }
#tabs .ui-tabs-nav li img { position: relative ; top: 2px ; height: 1em ; }
#tabs .ui-tabs-panel { background: #f6f6f6 ; }

/* nb: these are managed in the code but we define them here for the initial load */
#tabs .ui-tabs-tab.ui-state-active { background: #ddd ; border-color: #ccc ; }
#tabs .ui-tabs-panel { border: 1px solid #ccc ; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#tabs-scenario { display: flex ; }
#tabs-scenario .left { width: 32em ; min-width: 32em ; }
#tabs-scenario .right { flex-grow: 1 ; min-width: 25em ; }

#tabs-scenario .left { display: flex ; flex-direction: column ; }
#tabs-scenario .tl { flex-basis: content ; }
#tabs-scenario .bl { height: 100% ; flex-grow: 1 ; }

#tabs-scenario .right { display: flex ; flex-direction: column ; }
#tabs-scenario .tr { height: 100% ; flex-grow: 1 ; }
#tabs-scenario .br { height: 100% ; flex-grow: 1 ; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.ui-tabs-panel.tabs-ob { display: flex ; }
.ui-tabs-panel.tabs-ob .left { flex-grow: 1 ; min-width: 32em ; }
.ui-tabs-panel.tabs-ob .right { width: 25em ; min-width: 25em ; }

.ui-tabs-panel.tabs-ob .left { display: flex ; flex-direction: column ; }
.ui-tabs-panel.tabs-ob .tl { height: 100% ; flex-grow: 1 }
.ui-tabs-panel.tabs-ob .bl { height: 100% ; flex-grow: 1 }

.ui-tabs-panel.tabs-ob .right { display: flex ; flex-direction: column ; }
.ui-tabs-panel.tabs-ob .tr { height: 100% ; flex-grow: 1 }
.ui-tabs-panel.tabs-ob .br { height: 100% ; flex-grow: 1 }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#tabs-help.ui-tabs-panel { background: #fff ; }

#tabs-help iframe { width: 100% ; height: 99% ; border: none ; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

fieldset { margin: 0 5px 5px 5px ; padding: 10px ; border: 1px solid #888 ; background: #ffffff ; border-radius: 0 10px 0 0 ; }
fieldset legend { padding: 0 0.2em 0 0.2em ; font-style: italic ; font-weight: bold ; }

.small { font-size: 80% ; }
.spacer { flex-grow: 1 ; }

/* -------------------------------------------------------------------- */

.ui-selectmenu-button { padding: 2px 5px ; }

.snippet-control button.generate { height: 26px ; padding: 2px 10px 2px 5px ; }
.snippet-control button.generate img { height: 20px ; margin-right: 5px ; vertical-align: middle ; }
.snippet-control .ui-selectmenu-button { padding: 2px 10px ; }
.snippet-control-menu-item { font-size: 75% ; font-style: italic ; }
.snippet-control .ui-selectmenu-button-closed { height: 26px ; }
.snippet-control .ui-selectmenu-icon.ui-icon { margin-top: -8px ; }

button.edit-template { height: 30px ; padding: 4px 10px ; }
button.edit-template img { height: 18px ; vertical-align: middle ; margin-right: 0.25em ; }

.ui-dialog-titlebar { padding: 0.2em 0.5em 0.2em 0.5em !important ; }
.ui-dialog-titlebar-close { margin-top: -10px !important ; }
.ui-dialog-content p { margin-bottom: 0.5em ; }
.ui-dialog-buttonpane button.ok { background: #ddd ; }
.ui-dialog-buttonpane button.ok:hover { background: #ccc ; }

#edit-template { overflow: hidden ; padding: 2px ; }
.ui-dialog.edit-template .ui-dialog-titlebar { background: #f8d868 ; }
.ui-dialog.edit-template textarea { resize: none ; width: calc(100% - 4px) ; height: 100% ; }
.ui-dialog.edit-template textarea { font-family: monospace ; font-size: 90% ; }
.ui-dialog.edit-template .ui-dialog-buttonpane { border: none ; padding: 0 ; font-size: 75% ; }
.ui-dialog.edit-template button { margin: 0 0 0 5px ; padding: 0.1em 0.2em ; }

#edit-simple_note { overflow: hidden ; padding: 2px ; }
.ui-dialog.edit-simple_note textarea { resize: none ; width: calc(100% - 4px) ; height: 100% ; }
.ui-dialog.edit-simple_note .ui-dialog-buttonpane { border: none ; padding: 0 ; font-size: 75% ; }
.ui-dialog.edit-simple_note button { margin: 0 0 0 5px ; padding: 0.1em 0.2em ; }

.ui-dialog.ask .ui-dialog-titlebar { background: #ffa878 ; }

#select-vo { overflow: hidden ; padding: 2px ; }
#select-vo .header { height: 1.75em ; margin-top: 0.25em ; font-size: 80% ; }
#select-vo select { width: 100% ; top: 2em ; height: calc(100% - 1.5em) ; }
.ui-dialog.select-vo .ui-dialog-buttonpane { border: none ; padding: 0 ; font-size: 75% ; }
.ui-dialog.select-vo button { margin: 0 0 0 5px ; padding: 0.1em 0.2em ; }

.growl-title { display: none ; }
.growl .pre { font-family: monospace ; }
.growl div.pre { margin: 0 0 1em 1em ; font-size: 80% ; }
