* { margin: 0 ; padding: 0 }
html { height: 100% ; }
body { height: 100% ; }

/* -------------------------------------------------------------------- */

#tabs {
    display: none ;
    position: absolute ; top: 5px ; bottom: 5px ; left: 5px ; right: 5px ;
}

#tabs .ui-tabs-nav li img { position: relative ; top: 2px ; height: 1em ; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#tabs-scenario {
    display: grid ; display: -ms-grid ;
    grid-template-rows: 14em 1fr ; -ms-grid-rows: 14em 1fr ;
    grid-template-columns: 25em 1fr ; -ms-grid-columns: 25em 1fr ;
}

#tabs-scenario fieldset.tr {
    -ms-grid-row: 1 ; -ms-grid-column: 2 ;
}
#tabs-scenario fieldset.br {
    grid-column-start: 2 ;
    -ms-grid-row: 2 ; -ms-grid-column: 2 ;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#tabs-ob1, #tabs-ob2 {
    display: grid ; display: -ms-grid ;
    grid-template-rows: 10em 1fr ; -ms-grid-rows: 10em 1fr ;
    grid-template-columns: 1fr 1fr ; -ms-grid-columns: 1fr 1fr ;
}

#tabs-ob1 fieldset.tl, #tab-ob2 fieldset.tl {
    grid-row-start: 1 ; -ms-grid-row: 1 ;
    grid-column-start: 1 ; -ms-grid-row: 1 ;
}
#tabs-ob1 fieldset.r, #tabs-ob2 fieldset.r {
    grid-row-start: 1 ; -ms-grid-row: 1 ;
    grid-row-end: 3 ; -ms-grid-row-span: 2 ;
    grid-column-start: 2 ; -ms-grid-column: 2 ;
}
#tabs-ob1 fieldset.bl, #tabs-ob2 fieldset.bl {
    -ms-grid-row: 2 ; -ms-grid-column: 1 ;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#tabs-other {
    display: grid ; display: -ms-grid ;
    grid-template-rows: 1fr ; -ms-grid-rows: 1fr ;
    grid-template-columns: 1fr ; -ms-grid-columns: 1fr ;
}

#panel-other {
    height: 100% ;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

fieldset { height: calc(100% - 30px) ; margin: 0 5px 5px 5px ; padding: 10px ; }
#tabs-other fieldset { border: none ; }
fieldset legend { padding: 0 0.2em 0 0.2em ; font-style: italic ; font-weight: bold ; }

.label { font-weight: bold ; }
input[type="text"] { margin-bottom: 0.25em ; }

/* -------------------------------------------------------------------- */

.ui-dialog.edit-ssr .ui-dialog-titlebar { display: none ; }
.ui-dialog.edit-ssr .ui-dialog-buttonpane { border: none ; padding: 0 ; font-size: 75% ; }
#edit-ssr { padding: 2px ; }
.ui-dialog.edit-ssr textarea { resize: none ; width: calc(100% - 4px) ; height: calc(100% - 1.25em) ; }
.ui-dialog.edit-ssr button { margin: 0 0 0 5px ; padding: 0.1em 0.2em ; }

.growl-title { display: none ; }
.growl ul { margin-left: 1em ; }
