.ui-dialog.select-roar-scenario .ui-dialog-titlebar { background: #f0f0c0 ; border: 1px solid #c0c0a0 ; }
.ui-dialog.select-roar-scenario .ui-dialog-content { padding-top: 0 !important ; }
.ui-dialog.select-roar-scenario .ui-dialog-buttonpane { border: none ; margin-top: 0 !important ; padding-top: 0 !important ; }

#select-roar-scenario { overflow: hidden ; }
#select-roar-scenario .header { height: 1.75em ; margin-top: 0.25em ; font-size: 80% ; }

#select-roar-scenario .select2-selection { display: none ; }
#select-roar-scenario .select2-search { padding: 0 0 5px 0 ; }
#select-roar-scenario .select2-results { border: 1px solid #ccc ; }
#select-roar-scenario .select2-results__options { max-height: none ; }
#select-roar-scenario .select2-dropdown { border: none ; }

#select-roar-scenario .select2-dropdown .scenario .scenario-id { font-size: 90% ; color: #666 ; }
#select-roar-scenario .select2-dropdown .scenario .publication { display: block ; font-size: 80% ; font-style: italic ; color: #888 ; }

#select-roar-scenario .select2-results__option--highlighted[aria-selected] .scenario-id { color: #eee ; }
#select-roar-scenario .select2-results__option--highlighted[aria-selected] .publication { color: #eee ; }
