button.sortable-add { vertical-align: top ; height: 30px ; padding: 4px 10px ; }
img.sortable-add { vertical-align: middle ; height: 15px ; margin-right: 0.25em ; }

.sortable { font-size: 80% ; }
.sortable { list-style-type: none ; margin: 0 ; padding: 0 ; }

.sortable li { margin-bottom: 2px ; padding: 5px ; }
.sortable li:hover { cursor: pointer ; }
.sortable li.ui-sortable-helper { opacity: 0.8 ; }

.sortable li img.snippet { height: 1.25em ; margin: -2px -2px ; padding-left: 1em ; float: right ; }

.sortable-hint { width: 100% ; height: calc(100% - 1.5em) ; color: #666 ; }
.sortable-hint .instructions { margin: 1em 0 0 1em ; font-size: 80% ; font-style: italic ; color: #888 ; }
.sortable-hint .instructions li { margin-top: 0.5em ; }

.sortable-trash { margin: 3px 5px ; height: 24px ;  }
