/* -------------------------------------------------------------------- */

#panel-scenario { display: flex ; flex-direction: column ; }

#panel-scenario .row { display: flex ; align-items: center ; }
#panel-scenario input { flex-grow: 1 ; }
#panel-scenario input[name='SCENARIO_ID'] { margin-left: 0.25em ; width: 4em ; flex-grow: 0 ; }
#panel-scenario input[name='SCENARIO_DATE'] { width: 6em ; flex-grow: 0 ; }

#panel-scenario label { font-weight: bold ; width: 5em ; }
#panel-scenario label.header { font-weight: bold ; width: 3em ; text-align: center ; }
#panel-scenario input { margin-bottom: 0.25em ; }

/* -------------------------------------------------------------------- */

#panel-vc { height: 100% ; display: flex ; flex-direction: column ; }
#panel-vc textarea { width: 100% ; resize: none ; flex-grow: 1 ; }
#panel-vc .footer { margin-top: 0.5em ; display: flex ; align-items: center ; }

/* -------------------------------------------------------------------- */

#panel-scenario_notes { height: 100% ;  display: flex ; flex-direction: column ; }
#panel-scenario_notes .content { flex-grow: 1 ; }
#panel-scenario_notes .footer { margin-top: 0.5em ; display: flex ; }

/* -------------------------------------------------------------------- */

#panel-ssr { height: 100% ; display: flex ; flex-direction: column ; }
#panel-ssr .content { flex-grow: 1 ; }

#panel-ssr .footer { margin-top: 0.5em ; display: flex ; align-items: center ; }
