/* -------------------------------------------------------------------- */

#tabs-extras { height: 100% ; display: flex ; flex-direction: row ; overflow: hidden ; }
#tabs-extras .left-panel { flex: 0 0 auto ; overflow: hidden auto ; min-width: 13em ; max-width: 40% ; }
#tabs-extras .right-panel { flex: 1 1 auto ; width: 100%; bottom: 0 ; }

#tabs-extras .left-panel ul { list-style-type: none ; margin: 0 ; }
#tabs-extras .left-panel li { margin-bottom: 0.25em ; padding: 5px 8px ; border: 1px solid #ccc ; background: #eee ; cursor: pointer ; }
#tabs-extras .left-panel .ui-selected { background: #fff ; border: 1px solid #888 ; text-color: #666 ; }

#tabs-extras .left-panel .name { font-weight: bold ; color: #666 ; }
#tabs-extras .left-panel .caption { margin-top: 0.25em ; font-size: 80% ; font-style: italic ; color: #888 ; }

#tabs-extras .right-panel { overflow-y: hidden ; padding: 5px ; border: 1px solid #888 ; border-radius: 0 10px 0 0 ; background: #fff ; }

#tabs-extras .right-panel div.name { font-size: 150% ; font-weight: bold ; }
#tabs-extras .right-panel div.caption { font-style: italic ; }
#tabs-extras .right-panel div.description { margin-top: 0.5em ;  }

#tabs-extras .right-panel button.generate { height: 30px ; }
#tabs-extras .right-panel .snippet-control .ui-selectmenu-button { height: 30px ; }

#tabs-extras .right-panel table { margin-top: 1em ; }
#tabs-extras .right-panel td.caption { font-weight: bold ; padding-right: 0.25em ; }
#tabs-extras .right-panel .snippet-control { margin-top: 0.5em ; }

#tabs-extras .right-panel .footer { margin-top: 1em ; font-size: 80% ; font-style: italic ; color: #444 ; }
#tabs-extras .right-panel .footer table { margin: 0 ; }
#tabs-extras .right-panel .footer td { vertical-align: top ; }
#tabs-extras .right-panel .footer td.key, #tabs-extras .right-panel .footer td.val {
    padding: 0.2em  0.5em; border: 1px dotted #ccc ;
}
#tabs-extras .right-panel .footer td.key { background: #f8f8f8 ; font-weight: bold ; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#tabs-extras .right-panel [name="extras/kakazu-ridge-cave-complexes"] .select2 { width: 10em !important ; }
#tabs-extras .right-panel [name="extras/victory-points"] .select2 { width: 9em !important ; }
#tabs-extras .right-panel [name="extras/count-remaining"] .select2 { width: 11em !important ; }
