/* -------------------------------------------------------------------- */

#panel-scenario { display: flex ; flex-direction: column ; }
fieldset[name='scenario'] { min-height: 91px ; max-height: 265px ; overflow: hidden ; }

#panel-scenario .row { display: flex ; align-items: center ; margin-bottom: 2px ; }
#panel-scenario input { flex-grow: 1 ; }
#panel-scenario input[name='SCENARIO_ID'] { margin-left: 0.25em ; width: 80px ; flex-grow: 0 ; text-align: right ; }
#panel-scenario .scenario-search { width: 25px ; height: 22px ; margin: 0 0 0 0.25em ; padding: 0 ; }
#panel-scenario .scenario-search img { margin-top: 2px ; width: 16px ; }
#panel-scenario input[name='SCENARIO_DATE'] { width: 6em ; flex-grow: 0 ; }

#panel-scenario button#turn-track-settings { width: 25px ; height: 24px ; margin-right: 5px ; padding: 3px 2px 2px 2px ; }

#panel-scenario .select2[name="PLAYER_1"] { flex: 1 ; }
#panel-scenario .select2[name="PLAYER_2"] { flex: 1 ; }

#panel-scenario input[name="PLAYER_1_DESCRIPTION"],
#panel-scenario input[name="PLAYER_2_DESCRIPTION"] {
    font-size: 75% ;
}

#panel-scenario label { margin-top: 2px ; font-weight: bold ; width: 4.75em ; }
#panel-scenario label.header { font-weight: bold ; width: 3em ; text-align: center ; }

#panel-scenario .select2-container { margin-right: 2px ; }
#panel-scenario .select2-selection__rendered { height: 23px ; line-height: 23px ; }
#panel-scenario .select2-selection__arrow { margin-top: -2px ; }
#panel-scenario .select2-selection { height: 24px !important ; border-radius: 0 !important ; }

#panel-scenario .select2[name="SCENARIO_THEATER"] { margin-left: 0.25em ; margin-right: 0.25em ; }

/* -------------------------------------------------------------------- */

#panel-vc { height: 100% ; display: flex ; flex-direction: column ; }
#panel-vc .trumbowyg-box { flex-grow: 1 ; min-height: 100px ; width: calc(100% - 2px) ; }
#panel-vc .footer { margin-top: 0.5em ; display: flex ; align-items: center ; }

/* -------------------------------------------------------------------- */

#panel-scenario_notes { height: 100% ;  display: flex ; flex-direction: column ; }
#panel-scenario_notes .content { flex-grow: 1 ; }
#panel-scenario_notes .footer { margin-top: 0.5em ; display: flex ; align-items: center ; }

/* -------------------------------------------------------------------- */

#panel-ssr { height: 100% ; display: flex ; flex-direction: column ; }
#panel-ssr .content { flex-grow: 1 ; }
#panel-ssr .footer { margin-top: 0.5em ; display: flex ; align-items: center ; }
