.ui-dialog.user-settings .ui-dialog-titlebar { background: #80d0ff ; }
.ui-dialog.user-settings .ui-dialog-buttonpane { border: none ; margin-top: 0 !important ; padding-top: 0 !important ; }

.ui-dialog.user-settings fieldset { margin: 1em 0 0 0 ; padding-top: 0.25em ; border-radius: 0 ; }
.ui-dialog.user-settings .run-as-server-note { margin-bottom: 0.5em ; font-size: 80% ; font-style: italic ; color: #666 ; }
.ui-dialog.user-settings .run-as-server-note img { float: left ; margin-right: 0.25em ; }
