# This is a sample config file for Python logging - rename it as logging.yaml.
# It also gets deployed into the Docker container, unless you create $/docker/config/logging.yaml.

version: 1

formatters:
    standard:
        format: "%(asctime)s.%(msecs)03d | %(message)s"
        datefmt: "%H:%M:%S"

handlers:
    console:
        class: "logging.StreamHandler"
        formatter: "standard"
        stream: "ext://sys.stdout"
    file:
        class: "logging.FileHandler"
        formatter: "standard"
        filename: "/tmp/vasl-templates.log"
        mode: "w"

root:
    level: "WARNING"
    handlers: [ "console", "file" ]
loggers:
    werkzeug:
        level: "ERROR"
        handlers: [ "console", "file" ]
        propagate: 0
    javascript:
        level: "INFO"
        handlers: [ "console", "file" ]
        propagate: 0
    qt:
        level: "INFO"
        handlers: [ "console", "file" ]
        propagate: 0
    vasl_mod:
        level: "WARNING"
        handlers: [ "console", "file" ]
        propagate: 0
    vassal_shim:
        level: "WARNING"
        handlers: [ "console", "file" ]
        propagate: 0
    update_vsav:
        level: "WARNING"
        handlers: [ "console", "file" ]
        propagate: 0
    analyze_vsav:
        level: "WARNING"
        handlers: [ "console", "file" ]
        propagate: 0
    analyze_vlog:
        level: "WARNING"
        handlers: [ "console", "file" ]
        propagate: 0
    webdriver:
        level: "WARNING"
        handlers: [ "console", "file" ]
        propagate: 0
    downloads:
        level: "WARNING"
        handlers: [ "console", "file" ]
        propagate: 0
    user_profile:
        level: "WARNING"
        handlers: [ "console", "file" ]
        propagate: 0
