# This is a sample config file for Python logging - rename it as logging.yaml.

version: 1

formatters:
    standard:
        format: "%(asctime)s.%(msecs)03d | %(message)s"
        datefmt: "%H:%M:%S"

handlers:
    console:
        class: "logging.StreamHandler"
        formatter: "standard"
        stream: "ext://sys.stdout"
    file:
        class: "logging.FileHandler"
        formatter: "standard"
        filename: "/tmp/vasl-templates.log"
        mode: "w"

loggers:
    werkzeug:
        level: "WARNING"
        handlers: [ "console" ]
    javascript:
        level: "INFO"
        handlers: [ "console" ]
    qt:
        level: "INFO"
        handlers: [ "console" ]
