# This is a sample config file for Python logging - rename it as logging.yaml.

version: 1

formatters:
    standard:
        format: "%(asctime)s.%(msecs)03d | %(message)s"
        datefmt: "%H:%M:%S"

handlers:
    file:
        class: "logging.FileHandler"
        formatter: "standard"
        filename: "/tmp/vasl-templates.log"
        mode: "w"

root:
    level: "WARNING"
    handlers: [ "file" ]
loggers:
    werkzeug:
        level: "WARNING"
        handlers: [ "file" ]
    javascript:
        level: "INFO"
        handlers: [ "file" ]
    qt:
        level: "INFO"
        handlers: [ "file" ]
    vasl_mod:
        level: "WARNING"
        handlers: [ "file" ]
    update_vsav:
        level: "WARNING"
        handlers: [ "file" ]
    analyze_vsav:
        level: "WARNING"
        handlers: [ "file" ]
    analyze_vlog:
        level: "WARNING"
        handlers: [ "file" ]
    webdriver:
        level: "WARNING"
        handlers: [ "file" ]
    downloads:
        level: "WARNING"
        handlers: [ "file" ]
