[Site Config]

; Enable VASL counter images in the UI by configuring a VASL .vmod file here.
VASL_MOD = ...configure the VASL module (e.g. vasl-6.4.3.vmod)...

; Configure VASSAL to be able to automatically update labels in a VASL scenario.
VASSAL_DIR = ...configure the VASSAL installation directory...
BOARDS_DIR = ...configure the VASL boards directory...
WEBDRIVER_PATH = ...configure either geckodriver or chromedriver here...
; JAVA_PATH = ...configure the Java executable here (optional, must be in the PATH otherwise)...

CHAPTER_H_NOTES = ...configure your Chapter H vehicle/ordnance images and multi-applicable notes...
