<html>

<!-- vasl-templates:name Full template -->
<!-- vasl-templates:caption This is the caption. -->
<!-- vasl-templates:description This is the description. -->
<!-- vasl-templates:comment This is the comment (shouldn't appear anywhere, including the snippet). -->

{{FOO}} <!-- nb: this is a normal parameter, not one of ours (no embedded colon) -->

<div>
param = {{PARAM:default-val/10|The parameter|This is the parameter description.}}
</div>

</html>
