<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<title> {{APP_NAME}} </title>
<link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='jquery-ui/jquery-ui.min.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='growl/jquery.growl.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='popmenu/jquery.popmenu.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/tabs-scenario.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/tabs-ob.css')}}" />
</head>

<body>

<div id="menu" style="display:none;">
    <input type="button" value="actions">
    <input id="load-scenario" type="file" accept=".json" style="display:none;">
    <input id="load-template-pack" type="file" accept=".zip,.j2" style="display:none;">
    <textarea id="template_pack_persistence" style="display:none;"></textarea>
</div>

<div id="tabs">

<ul>
    <li> <a href="#tabs-scenario">Scenario</a>
    <li> <a href="#tabs-ob1">Player 1 OB</a>
    <li> <a href="#tabs-ob2">Player 2 OB</a>
    <li> <a href="#tabs-other">Other</a>
</ul>

<div id="tabs-scenario">
    <fieldset class="tl"> <legend>Scenario</legend>
        <div id="panel-scenario">
            <div class="label" data-labelfor="SCENARIO_NAME">Name:</div> <input name="SCENARIO_NAME" type="text" class="param">
            <div class="label" data-labelfor="SCENARIO_LOCATION">Location:</div> <input name="SCENARIO_LOCATION" type="text" class="param">
            <div class="label" data-labelfor="SCENARIO_DATE">Date:</div>
            <div class="last_row">
                <input name="SCENARIO_DATE" type="text" size="10" class="param">
                <div class="r">
                    <label for="SCENARIO_WIDTH">Width:</label>
                    <input type="text" class="param" name="SCENARIO_WIDTH" size="5">
                    <input type="button" class="generate" data-id="scenario" value="Go">
                </div>
            </div>
        </div>
        <div id="panel-players">
            <div></div> <div></div> <div class="label" data-labelfor="ELR">ELR</div> <div class="label" data-labelfor="SAN">SAN</div>
            <div class="label" data-labelfor="PLAYER_1">Player 1:</div> <select name="PLAYER_1" class="param"></select>
            <select name="PLAYER_1_ELR" class="param"></select>
            <select name="PLAYER_1_SAN" class="param"></select>
            <div class="label" data-labelfor="PLAYER_2">Player 2:</div> <select name="PLAYER_2" class="param"></select>
            <select name="PLAYER_2_ELR" class="param"></select>
            <select name="PLAYER_2_SAN" class="param"></select>
            <div></div> <div></div> <div></div> <input type="button" class="generate" data-id="players" value="Go">
        </div>
    </fieldset>
    <fieldset class="tr"> <legend>Victory Conditions</legend>
        <div id="panel-vc">
            <textarea name="VICTORY_CONDITIONS" type="text" class="param"></textarea>
            <div class="footer">
                <label for="VICTORY_CONDITIONS_WIDTH">Width:</label>
                <input type="text" class="param" name="VICTORY_CONDITIONS_WIDTH" size="5">
                <input type="button" class="generate" data-id="victory_conditions" value="Go">
            </div>
        </div>
    </fieldset>
    <fieldset class="br"> <legend>SSR's</legend>
        <div id="panel-ssr">
            <div class="content">
                <div id="ssr-hint"> <p>Click on the "+" below to add a new SSR, double-click on an SSR to edit it. <p>To re-order the SSR's, use the mouse to drag them around. <p>Ctrl-click on an SSR to delete it, or drag it into the trashcan below. </div>
                <ul id="ssr-sortable" style="display:none;"></ul>
            </div>
            <div class="footer">
                <div class="l">
                    <input type="button" id="add-ssr" value="+">
                    <img id="ssr-trash" src="{{url_for('static',filename='images/trash.png')}}">
                </div>
                <label for="SSR_WIDTH">Width:</label>
                <input type="text" class="param" name="SSR_WIDTH" size="5">
                <input type="button" class="generate" data-id="ssr" value="Go">
            </div>
        </div>
    </fieldset>
</div>

<div id="tabs-ob1">
    <fieldset class="tl"> <legend>OB setup</legend>
        <div id="panel-obsetup1" class="panel-obsetup">
            <textarea name="OB_SETUP_1" type="text" class="param"></textarea>
            <div class="footer">
                <input type="button" class="generate" data-id="mol" value="MOL">
                <input type="button" class="generate" data-id="mol-p" value="MOL-P">
                <input type="button" class="generate" data-id="pf" value="PF">
                <input type="button" class="generate" data-id="psk" value="PSK">
                <input type="button" class="generate" data-id="atmm" value="ATMM">
                <input type="button" class="generate" data-id="baz" value="BAZ">
                <input type="button" class="generate" data-id="piat" value="PIAT">
                <input type="button" class="generate" data-id="ob_setup_1" value="Go">
                <div class="r">
                    <label for="OB_SETUP_WIDTH_1">Width:</label>
                    <input type="text" class="param" name="OB_SETUP_WIDTH_1" size="5">
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="r"> <legend>Vehicles</legend>
        <div id="panel-obvehicles1">
        </div>
    </fieldset>
    <fieldset class="bl"> <legend>Ordnance</legend>
        <div id="panel-obordnance1">
        </div>
    </fieldset>
</div>

<div id="tabs-ob2"> <!-- nb: this will be created dynamically from the OB1 tab -->
</div>

<div id="tabs-other">
    <div id="panel-other">
        <fieldset>
        </fieldset>
    </div>
</div>

<div id="edit-ssr" style="display:none;"> <b>Enter the SSR content:</b> <textarea></textarea> </div>
<div id="ask" style="display:none;"></div>

</div>
</body>

<script src="{{url_for('static',filename='jquery/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static',filename='jquery-ui/jquery-ui.min.js')}}"></script>
<script src="{{url_for('static',filename='jinja/jinja.js')}}"></script>
<script src="{{url_for('static',filename='growl/jquery.growl.js')}}"></script>
<script src="{{url_for('static',filename='popmenu/jquery.popmenu-1.0.0.min.js')}}"></script>
<script src="{{url_for('static',filename='download/download.min.js')}}"></script>
<script src="{{url_for('static',filename='jszip/jszip.min.js')}}"></script>
<script>
gImagesBaseUrl = "{{url_for('static',filename='images')}}" ;
gGetDefaultTemplatesUrl = "{{url_for('get_default_templates')}}" ;
gGetAutoloadTemplatesUrl = "{{url_for('get_autoload_templates')}}" ;
gGetNationalitiesUrl = "{{url_for('get_nationalities')}}" ;
</script>
<script src="{{url_for('static',filename='main.js')}}"></script>
<script src="{{url_for('static',filename='generate.js')}}"></script>
<script src="{{url_for('static',filename='ssr.js')}}"></script>
<script src="{{url_for('static',filename='utils.js')}}"></script>

</html>
