<!doctype html>
<html lang="en">

<head>

<meta charset="utf-8">
<title> {{APP_NAME}} </title>

<link rel="shortcut icon" href="{{url_for('static', filename='images/app.ico')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='jquery-ui/jquery-ui.min.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='growl/jquery.growl.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='popmenu/jquery.popmenu.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='select2/select2.min.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/tabs.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/tabs-scenario.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/tabs-ob.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/tabs-extras.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/sortable.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/edit-template-dialog.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/edit-simple-note-dialog.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/ask-dialog.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/select-vo-dialog.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/edit-vo-dialog.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/select-roar-scenario-dialog.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/vassal-shim.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/snippets.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/user-settings-dialog.css')}}" />

</head>

<!-- ----------------------------------------------------------------- -->

<body>

<noscript>
    <div style="margin:1em;"> Javascript is disabled. Please enable it, then reload this page. </div>
</noscript>

<img id="loader" src="{{url_for('static',filename='images/loader.gif')}}" style="position:fixed;top:50%;left:50%;margin-top:-16px;margin-left:-16px;z-index:999;">

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<div id="menu" style="display:none;">
    <input type="image" src="{{url_for('static',filename='images/menu.png')}}" value="actions">
    <input id="load-scenario" type="file" accept=".json" style="display:none;">
    <input id="load-template-pack" type="file" accept=".zip,.j2" style="display:none;">
    <input id="load-vsav" type="file" accept=".vsav" style="display:none;">
</div>

{%include "tabs.html"%}

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<div id="watermark" style="display:none;">
    <img src="{{url_for('static',filename='images/watermark.png')}}">
</div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

{%include "edit-template-dialog.html"%}
{%include "edit-simple-note-dialog.html"%}

{%include "select-vo-dialog.html"%}
{%include "select-vo-image-dialog.html"%}
{%include "edit-vo-dialog.html"%}
{%include "select-roar-scenario-dialog.html"%}

{%include "vassal.html"%}
{%include "snippets.html"%}

{%include "user-settings-dialog.html"%}

{%include "ask-dialog.html"%}

</body>

<!-- ----------------------------------------------------------------- -->

<script src="{{url_for('static',filename='jquery/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static',filename='jquery-ui/jquery-ui.min.js')}}"></script>
<script src="{{url_for('static',filename='jinja/jinja.js')}}"></script>
<script src="{{url_for('static',filename='growl/jquery.growl.js')}}"></script>
<script src="{{url_for('static',filename='popmenu/jquery.popmenu-1.0.0.min.js')}}"></script>
<script src="{{url_for('static',filename='hotkey/jquery.hotkey.js')}}"></script>
<script src="{{url_for('static',filename='download/download.min.js')}}"></script>
<script src="{{url_for('static',filename='jszip/jszip.min.js')}}"></script>
<script src="{{url_for('static',filename='select2/select2.min.js')}}"></script>
<script src="{{url_for('static',filename='js-cookie/js.cookie.js')}}"></script>

<script>
gAppName = "{{APP_NAME}}" ;
gAppVersion = "{{APP_VERSION}}" ;
gImagesBaseUrl = "{{url_for('static',filename='images')}}" ;
gAppConfigUrl = "{{url_for('get_app_config')}}" ;
gGetStartupMsgsUrl = "{{url_for('get_startup_msgs')}}" ;
gGetTemplatePackUrl = "{{url_for('get_template_pack')}}" ;
gGetDefaultScenarioUrl = "{{url_for('get_default_scenario')}}" ;
gVehicleListingsUrl = "{{url_for('get_vehicle_listings',merge_common=1)}}" ;
gOrdnanceListingsUrl = "{{url_for('get_ordnance_listings',merge_common=1)}}" ;
gVehicleNotesUrl = "{{url_for('get_vehicle_notes')}}" ;
gOrdnanceNotesUrl = "{{url_for('get_ordnance_notes')}}" ;
gGetVaslPieceInfoUrl = "{{url_for('get_vasl_piece_info')}}" ;
gGetRoarScenarioIndexUrl = "{{url_for('get_roar_scenario_index')}}" ;
gAnalyzeVsavUrl = "{{url_for('analyze_vsav')}}" ;
gUpdateVsavUrl = "{{url_for('update_vsav')}}" ;
gMakeSnippetImageUrl = "{{url_for('make_snippet_image')}}" ;
gHelpUrl = "{{url_for('show_help')}}" ;
</script>

<script src="{{url_for('static',filename='main.js')}}"></script>
<script src="{{url_for('static',filename='snippets.js')}}"></script>
<script src="{{url_for('static',filename='nat_caps.js')}}"></script>
<script src="{{url_for('static',filename='extras.js')}}"></script>
<script src="{{url_for('static',filename='simple_notes.js')}}"></script>
<script src="{{url_for('static',filename='vo.js')}}"></script>
<script src="{{url_for('static',filename='vo2.js')}}"></script>
<script src="{{url_for('static',filename='vassal.js')}}"></script>
<script src="{{url_for('static',filename='roar.js')}}"></script>
<script src="{{url_for('static',filename='sortable.js')}}"></script>
<script src="{{url_for('static',filename='user_settings.js')}}"></script>
<script src="{{url_for('static',filename='utils.js')}}"></script>

{%include "testing.html"%}

</html>
