<div id="scenario-search" style="display:none;">

<div class="split left"> <!-- left panel -->

<div class="scenarios"> <select></select> </div>

<div class="footer">
    <a href="https://aslscenarioarchive.com">
        <img class="logo" src="{{url_for('static',filename='images/asl-scenario-archive.png')}}">
        <div class="caption"> Powered by the ASL Scenario Archive </div>
    </a>
</div>

</div> <!-- end left panel -->

<div class="split right"> <!-- right panel -->

<div class="scenario-card"> </div>

<div class="import-control">
    <div class="warnings" style="display:none;"></div>
    <div class="buttons">
        <button class="import" title="Import this scenario and link it to the ASL Scenario Archive.">
            <img src="{{url_for('static',filename='images/sortable-add.png')}}">
            Import
        </button>
        <button class="downloads" title="Downloads for this scenario.">
            <img src="{{url_for('static',filename='images/download.png')}}">
            Downloads
        </button>
        <button class="cancel-import"> Cancel </button>
        <button class="confirm-import ok"> OK </button>
    </div>
</div>

</div> <!-- end right panel -->

</div>
