<div id="tabs-ob1" class="tabs-ob">

<div class="left">

    <fieldset name="ob_setups_1" class="tl"> <legend>OB setup</legend>
        <div id="panel-ob_setups_1" class="panel-ob_setups">
            <div class="content">
                <div id="ob_setups-hint_1" class="sortable-hint"></div>
                <ul id="ob_setups-sortable_1" class="sortable" style="display:none;"></ul>
            </div>
            <div class="footer">
                <button id="ob_setups-add_1" class="sortable-add"></button>
                <img id="ob_setups-trash_1" class="sortable-trash">
                <span class="spacer"></span>
                <button class="edit-template" data-id="ob_setup"></button>
            </div>
        </div>
    </fieldset>

    <fieldset name="ob_notes_1" class="bl"> <legend>Notes</legend>
        <div id="panel-ob_notes_1" class="panel-ob_notes">
            <div class="content">
                <div id="ob_notes-hint_1" class="sortable-hint"></div>
                <ul id="ob_notes-sortable_1" class="sortable" style="display:none;"></ul>
            </div>
            <div class="footer">
                <button id="ob_notes-add_1" class="sortable-add"></button>
                <img id="ob_notes-trash_1" class="sortable-trash">
                <span class="spacer"></span>
                <span class="small">
                    <button class="generate" data-id="pf">PF</button>
                    <button class="generate" data-id="atmm">ATMM</button>
                    <button class="generate" data-id="psk">PSK</button>
                    <button class="generate" data-id="mol">MOL</button>
                    <button class="generate" data-id="mol-p">MOL-P</button>
                    <button class="generate" data-id="baz">BAZ</button>
                    <button class="generate" data-id="piat">PIAT</button>
                    <button class="edit-template" data-id="ob_note"></button>
                </span>
            </div>
        </div>
    </fieldset>

</div>

<div class="right">

    <fieldset name="ob_vehicles_1" class="tr"> <legend>Vehicles</legend>
        <div id="panel-ob_vehicles_1" class="panel-ob_vehicles panel-ob_vo">
            <div class="content">
                <div id="ob_vehicles-hint_1" class="sortable-hint"></div>
                <ul id="ob_vehicles-sortable_1" class="sortable" style="display:none;"></ul>
            </div>
            <div class="footer">
                <button id="ob_vehicles-add_1" class="sortable-add"></button>
                <img id="ob_vehicles-trash_1" class="sortable-trash">
                <span class="spacer"></span>
                <span class="small">
                    <label for="OB_VEHICLES_WIDTH_1">Width:</label>
                    <input type="text" class="param" name="OB_VEHICLES_WIDTH_1" size="5">
                    <button class="generate" data-id="ob_vehicles_1">Snippet</button>
                </span>
            </div>
        </div>
    </fieldset>

    <fieldset name="ob_ordnance_1" class="br"> <legend>Ordnance</legend>
        <div id="panel-ob_ordnance_1" class="panel-ob_ordnance panel-ob_vo">
            <div class="content">
                <div id="ob_ordnance-hint_1" class="sortable-hint"></div>
                <ul id="ob_ordnance-sortable_1" class="sortable" style="display:none;"></ul>
            </div>
            <div class="footer">
                <button id="ob_ordnance-add_1" class="sortable-add"></button>
                <img id="ob_ordnance-trash_1" class="sortable-trash">
                <span class="spacer"></span>
                <span class="small">
                    <label for="OB_ORDNANCE_WIDTH_1">Width:</label>
                    <input type="text" class="param" name="OB_ORDNANCE_WIDTH_1" size="5">
                    <button class="generate" data-id="ob_ordnance_1">Snippet</button>
                </span>
            </div>
        </div>
    </fieldset>

</div>

</div> <!-- tabs-ob1 -->
