<div id="tabs-scenario">

<div class="left">

    <fieldset name="scenario" class="tl" style="display:none;"> <legend>S<u>c</u>enario</legend>
        <div id="panel-scenario">
            <div class="row">
                <label for="SCENARIO_NAME">Name:</label>
                <input name="SCENARIO_NAME" type="text" class="param" title="Scenario name">
                <input name="SCENARIO_ID" type="text" class="param" title="Scenario ID">
                <button class="scenario-search" title="Search for scenarios"></button>
            </div>
            <div class="row">
                <label for="SCENARIO_LOCATION">Location:</label>
                <input name="SCENARIO_LOCATION" type="text" class="param" title="Scenario location">
                <select name="SCENARIO_THEATER" class="param" title="Scenario theater"> </select>
                <button class="generate" data-id="compass"></button>
                <input name="COMPASS" type="text" class="param" style="display:none;width:1em;">
            </div>
            <div class="row">
                <label for="SCENARIO_DATE">Date:</label>
                <input name="SCENARIO_DATE" type="text" size="10" class="param" title="Scenario date">
                <span class="spacer"></span>
                <span class="small" style="display:flex;align-items:center;">
                    <input type="text" class="param snippet-width" name="SCENARIO_WIDTH" style="margin:0 0.25em;">
                    <button class="generate" data-id="scenario"></button>
                </span>
            </div>
            <div class="row" style="margin-top:0.2em;height:26px;">
                <label for="TURN_TRACK_NTURNS">Turns:</label>
                <select name="TURN_TRACK_NTURNS" class="param" "Number of turns"></select>
                <div class="turn-track-controls small" style="display:none;align-items:center;">
                    <button id="turn-track-settings" title="Turn track settings"><img src="{{url_for('static',filename='images/menu/settings.png')}}"></button>
                    <button class="generate" data-id="turn_track"></button>
                </div>
            </div>
            <div class="small" style="display:none;">
                Width: <input type="text" name="TURN_TRACK_WIDTH" class="param" size="1">
                <input type="checkbox" name="TURN_TRACK_VERTICAL" class="param"> Vertical </input> &nbsp;
                S: <input type="text" name="TURN_TRACK_SHADING" class="param" size="5">
                R<sub>1</sub>: <input type="text" name="TURN_TRACK_REINFORCEMENTS_1" class="param" size=7">
                R<sub>2</sub>: <input type="text" name="TURN_TRACK_REINFORCEMENTS_2" class="param" size=7">
                <input type="checkbox" name="TURN_TRACK_SWAP_PLAYERS" class="param"> Swap </input>
            </div>
            <div class="row" style="margin-top:-1.1em;max-width:32em;">
                <label></label>
                <span style='flex-grow:1;'></span>
                <label class="header" for="ELR">ELR</label>
                <span style='width:0.1em'></span>
                <label class="header" for="SAN">SAN</label>
                <span style='width:58px;'></span>
            </div>
            <div class="row" style='max-width:32em;'>
                <label for="PLAYER_1"><u>P</u>layer 1:</label>
                <select name="PLAYER_1" class="param"></select>
                <select name="PLAYER_1_ELR" class="param"></select>
                <select name="PLAYER_1_SAN" class="param"></select>
                <button class="generate" data-id="nat_caps_1" style="margin-left:5px;"></button>
            </div>
            <div class="row">
                <label for="PLAYER_1_DESCRIPTION"></label>
                <input name="PLAYER_1_DESCRIPTION" type="text" class="param" title="Description of the player's OB">
            </div>
            <div class="row" style='max-width:32em;'>
                <label for="PLAYER_2">Player 2:</label>
                <select name="PLAYER_2" class="param"></select>
                <select name="PLAYER_2_ELR" class="param"></select>
                <select name="PLAYER_2_SAN" class="param"></select>
                <button class="generate" data-id="nat_caps_2" style="margin-left:5px;"></button>
            </div>
            <div class="row">
                <label for="PLAYER_2_DESCRIPTION"></label>
                <input name="PLAYER_2_DESCRIPTION" type="text" class="param" title="Description of the player's OB">
            </div>
            <div class="row">
                <input name="ASA_ID" type="text" size="1" class="param" style="display:none;">
                <input name="ROAR_ID" type="text" size="1" class="param" style="display:none;">
                <span class="spacer"></span>
                <span class="small" style="display:flex;align-items:center;">
                    <input type="text" class="param snippet-width" name="PLAYERS_WIDTH" style="margin:0 0.25em;">
                    <button class="generate" data-id="players"></button>
                </span>
            </div>
        </div>
    </fieldset>

    <fieldset name="scenario_notes" class="bl" style="display:none;"> <legend>Notes</legend>
        <div id="panel-scenario_notes">
            <div class="content">
                <div id="scenario_notes-hint" class="sortable-hint"></div>
                <ul id="scenario_notes-sortable" class="sortable" style="display:none;"></ul>
            </div>
            <div class="footer">
                <button id="scenario_notes-add" class="sortable-add"></button>
                <img id="scenario_notes-trash" class="sortable-trash">
                <span class="spacer"></span>
                <button class="edit-template" data-id="scenario_note"></button>
            </div>
        </div>
    </fieldset>

</div>

<div class="right">

    <fieldset name="vc" class="tr" style="display:none;"> <legend>Victor<u>y</u> Conditions</legend>
        <div id="panel-vc">
            <div name="VICTORY_CONDITIONS" class="param"></div>
            <div class="footer" style="display:none;">
                <span class="spacer"></span>
                <span class="small" style="display:flex;align-items:center;">
                    <input type="text" class="param snippet-width" name="VICTORY_CONDITIONS_WIDTH" style="margin:0 0.25em;">
                    <button class="generate" data-id="victory_conditions"></button>
                </span>
            </div>
        </div>
    </fieldset>

    <fieldset name="ssr" class="br" style="display:none;"> <legend>SSR's</legend>
        <div id="panel-ssr">
            <div class="content">
                <div id="ssr-hint" class="sortable-hint"></div>
                <ul id="ssr-sortable" class="sortable" style="display:none;"></ul>
            </div>
            <div class="footer">
                <button id="ssr-add" class="sortable-add"></button>
                <img id="ssr-trash" class="sortable-trash">
                <span class="spacer"></span>
                <span class="small" style="margin-bottom:-1px;display:flex;align-items:center;">
                    <input type="text" class="param snippet-width" name="SSR_WIDTH" style="margin:0 0.25em;">
                    <button class="generate" data-id="ssr"></button>
                </span>
            </div>
        </div>
    </fieldset>

</div>

</div> <!-- tabs-scenario -->
