<div id="turn-track" style="display:none;">

<div class="controls">

    <div style="display:flex;flex-direction:column;">
        <div class="row"> Turns: <select name="nturns"></select> </div>
        <button class="reset reset1"> Reset </button>
    </div>

    <div style="display:flex;flex-direction:column;">
        <div class="row"> Width: <select name="width"></select> </div>
        <div> <input type="checkbox" name="vertical"> Vertical </input> </div>
        <div> <input type="checkbox" name="swap-players"> Swap players </input> </div>
        <button class="reset reset2"> Reset </button>
    </div>

</div>

<iframe id="turn-track-preview"></iframe>

</div>
