<div id="user-settings" style="display:none;">

    <label for="">Date format:</label>
    <select name="date-format">
        <option value="mm/dd/yy">MM/DD/YYYY</option>
        <option value="dd/mm/yy">DD/MM/YYYY</option>
        <option value="yy-mm-dd">YYYY-MM-DD</option>
    </select>

    <br><br>

    <fieldset> <legend> Provide services to VASL </legend>
        <div class="run-as-server-note">
            <img src="{{url_for('static',filename='images/info.gif')}}">
            If you enable any of these options, this program must be running before you load the scenario in VASL.
        </div>
        <input type="checkbox" name="include-vasl-images-in-snippets">&nbsp;Include VASL images in snippets <br>
        <input type="checkbox" name="include-flags-in-snippets">&nbsp;Include flags in snippets
    </fieldset>

</div>
