<div id="user-settings" style="display:none;">

    <div class="row" style="display:flex;align-items:center;">
        <label for="vasl-username" style="display:inline-block;width:8.75em;"> VASL username: </label>
        <input type="text" name="vasl-username" style="flex:1;">
    </div>

    <div class="row" style="display:flex;align-items:center;margin-bottom:0.25em;">
        <label for="snippet-font-family" style="width:8.75em;"> HTML snippet font: </label>
        <input type="text" name="snippet-font-family" title='CSS font family (e.g. "Verdana" or "sans-serif")' style="flex-grow:1;">&nbsp;
        <input type="text" name="snippet-font-size" size="3" title='CSS font size (e.g. "12px")'>
    </div>

    <div class="row">
        <input type="checkbox" name="auto-create-national-capabilities-labels">
        Auto-create <em>National Capabilities</em> labels
    </div>

    <div class="row">
        <input type="checkbox" name="hide-unavailable-ma-notes">
        Hide unavailable multi-applicable notes
    </div>

    <div class="row" style="margin-top:0.25em;">
        <label for="">Date format:</label>
        <select name="date-format" style="width:9em;">
            <option value="mm/dd/yy">MM/DD/YYYY</option>
            <option value="dd/mm/yy">DD/MM/YYYY</option>
            <option value="yy-mm-dd">YYYY-MM-DD</option>
        </select>
    </div>

    <fieldset> <legend> Images in scenarios </legend>
        Get images from:
        <select name="scenario-images-source" style="width:7.5em;">
            <option value="1">this program</option>
            <option value="2">the internet</option>
        </select> <br>
        <input type="checkbox" name="include-vasl-images-in-snippets" class="need-localhost sometimes"> Include VASL counter images in snippets <br>
        <input type="checkbox" name="include-flags-in-snippets" class="need-localhost sometimes"> Include player flags in snippets <br>
        <input type="checkbox" name="custom-list-bullets" class="need-localhost sometimes"> Use custom list bullets <br>
        <div style="height:0.5em;"></div>
        <input type="checkbox" name="vo-notes-as-images" class="need-localhost"> Show Chapter H vehicle/ordnance notes as images <br>
    </fieldset>

</div>
