<html> <!-- vasl-templates:id {{SNIPPET_ID}} -->

<!-- vasl-templates:name Blank space -->
<!-- vasl-templates:description Generates a white label that can be used to cover up and hide things in your scenario. -->

<table>
<tr>
<td style="width:{{WIDTH:60px/5|Width}};height:{{HEIGHT:60px/5|Height}};background:white;"> &nbsp;
</table>

</html>
