<html> <!-- vasl-templates:id {{SNIPPET_ID}} -->

<!-- vasl-templates:name Compass -->
<!-- vasl-templates:description Generates a compass image indicating the direction of North. -->

<img src="{{IMAGES_BASE_URL}}/compass/{{DIRECTION:up::right::down::left|Direction}}.png">

</html>
