<html> <!-- vasl-templates:id {{SNIPPET_ID}} -->

<!-- vasl-templates:name Count remaining -->
<!-- vasl-templates:description Add the snippet as the label of a counter (e.g. Panzerfaust or Tank-Hunter Hero), then press <i>Ctrl-L</i> when you need to update how many are left. -->
<!-- vasl-templates:comment The HTML is deliberately malformed, so that the number remaining is the last thing in snippet, which makes it easier to change during the course of a game. -->

<div style="font-size:12px;font-weight:bold;"> {{COUNT:/3|Number}}
