<html> <!-- vasl-templates:id {{SNIPPET_ID}} -->

<!-- vasl-templates:name Count remaining -->
<!-- vasl-templates:description Add the snippet as the label of a counter (e.g. Panzerfaust or Tank-Hunter Hero), then press <i>Ctrl-L</i> when you need to update how many are left. -->
<!-- vasl-templates:comment The HTML is deliberately malformed, so that the number remaining is the last thing in snippet, which makes it easier to change during the course of a game. -->
<!-- vasl-templates:footer <table> <tr>
    <td>
    <h3>Panzerfaust</h3>
    <table>
    <tr> <td class="key"> before '44 <td class="val"> #squads
    <tr> <td class="key"> '44 <td class="val"> #squads &times 1&half; (FRD)
    <tr> <td class="key"> '45 <td class="val"> #squads &times 2
    </table>
    <em> Squads or squad-equivalents. </em>

    <td style="padding-left: 1em;">
    <h3>Tank-Hunter Heroes</h3>
    <table>
    <tr> <td class="key"> before '43 <td class="val"> 10% of #squads (FRU) <br> <small><em>(20% vs. Russians)</em></small>
    <tr> <td class="key"> '43 <td class="val"> 20% of #squads (FRU)
    <tr> <td class="key"> '44 <td class="val"> 33% of #squads (FRU)
    <tr> <td class="key"> '45 <td class="val"> 50% of #squads (FRU)
    </table>
    <em> Squads only, not squad-equivalents. </em>
    </table> -->

<head>
<style> {{CSS:common}} </style>
</head>

{# NOTE: We specify the font size in pixels, rather than as a percentage, since this label should be added to a counter. #}
<div style="font-size:12px;font-weight:bold;"> {{COUNT:/3|Number}}
