<html> <!-- vasl-templates:id {{SNIPPET_ID}} -->

<!-- vasl-templates:name Grid -->
<!-- vasl-templates:description Generates a grid. -->

<!-- #cols = {{COLS:3/1|# columns}} ; #rows = {{ROWS:2/1|# rows}} -->
<!-- cell size = {{CELL_WIDTH:160px/5|Cell width}} x {{CELL_HEIGHT:60px/5|Cell height}} -->
<!-- border = {{BORDER_STYLE:solid::dotted::dashed::double::groove::ridge::inset::outset|Border style}} ; color = {{PLAYER_COLOR2_DROPLIST_EX:|Border color}} -->

<head>
<style>
{{CSS:common}}
td {
    width: {{CELL_WIDTH}} ;
    height: {{CELL_HEIGHT}} ;
    border: 1px {{BORDER_STYLE}} {{PLAYER_COLOR2_DROPLIST}} ;
}
</style>
</head>

{% set RANGE = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50] %}
<table>
{% for row in RANGE %} {% if row <= ROWS %}
    <tr> {% for col in RANGE %} {% if col <= COLS %} <td> {%endif%} {%endfor%}
{%endif%} {%endfor%}
</table>

</html>
