<html> <!-- vasl-templates:id {{SNIPPET_ID}} -->

<!-- vasl-templates:name Hidden Guns -->
<!-- vasl-templates:description HIP Guns for Solo Play, taken from <a href="http://vftt.co.uk/vfttpdfs.asp"><i>View From The Trenches</i></a>, Issue 34/35. -->

<head>
<meta charset="utf-8">
<style>
td { margin: 0 ; padding: 0 5px ; text-align: center ; }
td.header { font-weight: bold ; }
td.header2 { background: #f8f8f8 ; padding: 2px 5px ; font-weight: bold ; }
td.status { font-weight: bold ; text-align: left ; }
</style>
</head>

<table>

<tr>
<td colspan="5" style="background: #f0f0f0 ; border-bottom: 1px solid #c0c0c0 ; padding: 2px 5px ; font-weight: bold ;">
    <center> Hidden Guns </center>

<tr>
    <td> &nbsp;
    <td class="header2" colspan=2> Hidden
    <td class="header2" colspan=2> Possible
<tr>
    <td> &nbsp;
    <td class="header"> Fires
    <td class="header"> Flip
    <td class="header"> Fires
    <td class="header"> Remove

<tr>
    <td class="status"> H H H
    <td> 2-5 <td> 6+ <td> &nbsp; <td> &nbsp;
<tr>
    <td class="status"> H H P
    <td> 2-6 <td> 7+ <td> 2-3 <td> 4-11
<tr>
    <td class="status"> H P P
    <td> 2-7 <td> 8+ <td> 2-4 <td> 5-11
<tr>
    <td class="status"> H H
    <td> 2-6 <td> 7+ <td> &nbsp; <td> &nbsp;
<tr>
    <td class="status"> H P
    <td> 2-8 <td> 9+ <td> 2-4 <td> 5-11
<tr>
    <td class="status"> P P P
    <td> &nbsp; <td> &nbsp; <td> 2-5 <td> 6-10
<tr>
    <td class="status"> P P
    <td> &nbsp; <td> &nbsp; <td> 2-6 <td> 7-10

</table>

Leadership DRM's apply.

</html>

