<html> <!-- vasl-templates:id {{SNIPPET_ID}} -->

<!-- vasl-templates:name PF count -->
<!-- vasl-templates:description Add the snippet as the label of a Panzerfaust counter, then press <i>Ctrl-L</i> when you need to update the number of remaining shots. -->
<!-- vasl-templates:comment The HTML is deliberately malformed, so that the number of remaining shots is the last thing in snippet, which makes it easier to change during the course of a game. -->

<div style="font-size:12px;font-weight:bold;"> {{PF_COUNT:/3|Number of PF shots}}
