<html>

<!-- vasl-templates:name Turn Track shading -->
<!-- vasl-templates:description Generates a shaded square that you can place behind the Turn Track to indicate an LV Hindrance e.g. because of dusk/dawn. -->

<table>
<tr>
<td style="width:{{WIDTH:45px/5|Width}};height:{{HEIGHT:45px/5|Height}};background:#f0f0f0;"> &nbsp;
</table>

</html>
