<html> <!-- vasl-templates:id {{SNIPPET_ID}} -->

<!-- vasl-templates:name Victory Points -->
<!-- vasl-templates:description Add a label to keep track of your victory points, and press <i>Ctrl-L</i> when you need to update them. -->
<!-- vasl-templates:comment The HTML is deliberately malformed, so that the number remaining is the last thing in snippet, which makes it easier to change during the course of a game. -->

<!-- vasl-templates:comment We don't include common.css because it's not necessary, and we want to keep the generated snippet short. -->
<div style="font-size:110%">
    <b>{{TYPE:Victory Points::Casualty VP::Exit VP|Type}}:</b> 0
