<html> <!-- vasl-templates:id {{SNIPPET_ID}} -->

<!-- vasl-templates:name KGS Molotov Cocktails -->
<!-- vasl-templates:description Data chart for Molotov Cocktails in <i>Kampfgruppe Scherer</i>. -->

<head>
<meta charset="utf-8">
<style> {{CSS:common}} </style>
</head>

<table>

<tr>
<td colspan="2" style="
    background: {{PLAYER_COLORS["german"][0]}} ;
    border-bottom: 1px solid {{PLAYER_COLORS["german"][2]}} ;
    padding: 2px 5px ;
    font-size: 105% ; font-weight: bold ;
">
    {# Some versions of Java require <img> tags to have the width and height specified!?! #}
    {%if PLAYER_FLAGS["german"]%}<img src="{{PLAYER_FLAGS["german"]}}" {{PLAYER_FLAG_SIZE_LARGE}}>&nbsp;{%endif%}Molotov Cocktails

<tr>
<td style="padding:3px 5px 0 5px;">
    vs. AFV only

<tr>
<td style="padding:3px 5px 0 5px;">
    MOL check: dr &le; 3 (&#9651;)
    <table style="margin-left:10px;">
        <tr>
            <td style="width:20px;"> +1
            <td> HS/crew
        <tr>
            <td> +2
            <td> SMC
        <tr>
            <td> +1
            <td> CX
    </table>

<tr>
<td style="padding:3px 5px 0 5px;">
    IFT DR original colored dr:
    <ul>
        <li> 1 = Flame in target Location
        <li> 6 = thrower breaks, Flame in their Location
    </ul>

<tr>
<td style="padding:3px 5px 0 5px;">
    Kindling Attempt: +2 DRM

</table>

</html>

