.ma-note { text-align: justify ; }
.ma-note .key { font-weight: bold ; }
.ma-note table { margin-left: 10px ; }
.ma-note td { padding: 0 ; }
.ma-note ul { padding-left: 10px ; list-style-image: url("{{IMAGES_BASE_URL}}/bullet.png") ; }
.ma-note li { margin-bottom: 2px ; }
.ma-note .example { font-size: 90% ; font-style: italic ; }
.ma-note table { margin-left: 10px ; margin-top: -5px ; }
.ma-note table th { padding: 2px 10px 2px 5px ; text-align: left ; background: #f0f0f0 ; }
.ma-note table td { padding: 0 10px 0 5px ; }

.extra-notes-caption { border: 1px solid #e0e0e0 ; background: #fcfcfc ; font-weight: bold ; padding: 2px 5px ; }
.slashed { text-decoration: line-through ; }

ul { margin: 0 0 0 15px ; padding: 0 ; }
sup { font-size: 75% ; }
