<html> <!-- vasl-templates:id {{SNIPPET_ID}} -->

<head>
<meta charset="utf-8">
<style>
{{CSS:common}}
</style>
</head>

<table>

<tr>
<td colspan="2" style="
  background: {{OB_COLOR}} ;
  border-bottom: 1px solid {{OB_COLOR_2}} ;
  padding: 2px 5px ;
  font-size: 105% ; font-weight: bold ;
">
    {{INCLUDE:player_flag_large}}MOL Projector

<tr>

<td style="padding:0 5px;">
    <table>
    <tr>
        <td> <b>Range</b> <td> <b>TH#</b>
    <tr>
        <td class="c"> 0 <td class="c"> 10
    <tr>
        <td class="c"> 1 <td class="c"> 9
    <tr>
        <td class="c"> 2 <td class="c"> 8
    <tr>
        <td class="c"> 3 <td class="c"> 6
    <tr>
        <td class="c"> 4 <td class="c"> 4
    </table>

<td valign="top" style="padding:0 5px;">
    <table>
        <tr>
            <td> <b>X#:</b>
            <td class="r"> 12
        <tr>
            <td> <b>B#:</b>
            <td class="r"> 11
        <tr>
            <td colspan="2" class="r"> 4-4
    </table>

<tr>
<td colspan="2">
    IFT DR original colored dr:
    <ul>
        <li> 1 = Flame in target Location
        <li> 6 = thrower breaks, Flame in their Location
    </ul>

</table>

</html>
