<html> <!-- vasl-templates:id {{SNIPPET_ID}} -->

<head>
<meta charset="utf-8">
<style>
{{CSS:common}}
</style>
</head>

<table>

<tr>
<td colspan="2" style="
  background: {{OB_COLOR}} ;
  border-bottom: 1px solid {{OB_COLOR_2}} ;
  padding: 2px 5px ;
  font-weight: bold ;
">
    {{INCLUDE:player_flag}}Molotov Cocktail

<tr>
<td style="padding:0 5px;">
    MOL check: dr &le; 3 (&#9651;) <br>
    <table style="margin:0 0 5px 10px;">
        <tr>
            <td style="width:25px;"> +1 <td> HS/crew
        <tr>
            <td> +2 <td> SMC
        <tr>
            <td> +1 <td> CX
        <tr>
            <td> +1 <td> non-AFV target
    </table>
    IFT DR original colored dr:
    <ul style="margin-bottom:5px;">
        <li> 1 = Flame in target Location
        <li> 6 = thrower breaks, Flame in their Location
    </ul>
    Kindling Attempt: +2 DRM

</table>
</html>
