<html> <!-- vasl-templates:id {{SNIPPET_ID}} -->

<head>
<meta charset="utf-8">
<style>
td { margin: 0 ; padding: 0 ; }
ul { margin: 0 ; padding-left: 10px ; list-style-image: url("{{IMAGES_BASE_URL}}/bullet.png") ; }
</style>
</head>

<table>

<tr>
<td colspan="2" style="
  background: {{OB_COLOR}} ;
  border-bottom: 1px solid {{OB_COLOR_2}} ;
  padding: 2px 5px ;
  font-weight: bold ;
">
    {%if PLAYER_FLAG%}<img src="{{PLAYER_FLAG}}">&nbsp;{%endif%}Molotov Cocktail

<tr>
<td style="padding:0 5px;">
    MOL check: dr &le; 3 (&#9651;) <br>
    <table style="margin-left:10px;">
        <tr>
            <td style="width:20px;"> +1 <td> HS/crew
        <tr>
            <td> +2 <td> SMC
        <tr>
            <td> +1 <td> CX
        <tr>
            <td> +1 <td> non-AFV target
    </table>
    IFT DR original colored dr:
    <ul>
        <li> 1 = Flame in target Location
        <li> 6 = thrower breaks, Flame in their Location
    </ul>
    Kindling Attempt: +2 DRM

</table>
</html>
