<html> <!-- vasl-templates:id {{SNIPPET_ID}} -->

<head>
<meta charset="utf-8">
<style>
{{CSS:common}}
.ma-note { margin: 2px 0 3px 0 ; text-align: justify ; }
.ma-note .key { font-weight: bold ; }
.ma-note p { margin-top: 2px ; }
.ma-note table { margin-left: 10px ; }
.ma-note li { margin-bottom: 2px ; }
.ma-note .example { font-size: 95% ; font-style: italic ; color: #000080 ; }
.ma-note p.errata { margin-top: 0 ; font-size: 95% ; font-style: italic ; color: #704040 ; }
.ma-note span.errata { font-style: italic ; color: #704040 ; }
.ma-note table { margin-left: 10px ; margin-top: -5px ; }
.ma-note table th { padding: 2px 10px 2px 5px ; text-align: left ; background: #f0f0f0 ; }
.ma-note table td { padding: 0 10px 0 5px ; }
.extra-notes-caption { border: 1px solid #e0e0e0 ; background: #fcfcfc ; font-weight: bold ; padding: 2px 5px ; }
.disabled { color: #808080 ; }
.disabled .exc { color: #808080 ; }
.slashed { text-decoration: line-through ; }
</style>
</head>

<table style="
  {%if OB_MA_NOTES_WIDTH%} width: {{OB_MA_NOTES_WIDTH}} ; {%endif%}
">

<tr>
<td colspan="2" style="
  background: {{OB_COLOR}} ;
  border-bottom: 1px solid {{OB_COLOR_2}} ;
  padding: 2px 5px ;
  font-size: 105% ; font-weight: bold ;
">
    {{INCLUDE:player_flag_large}}{{PLAYER_NAME}} {{VO_TYPE}} Notes

{%if OB_MA_NOTES%}
<tr> <td style="padding:0 5px;">
{%for ma_note in OB_MA_NOTES%}
    {%if not ma_note[0]%} <div class="disabled"> {%endif%}
    <div class="ma-note"> {{ma_note[1]}} </div>
    {%if not ma_note[0]%} </div> {%endif%}
{%endfor%}
{%endif%}

{%if OB_EXTRA_MA_NOTES%}
<tr> <td style="padding:0 5px;">
{%if OB_EXTRA_MA_NOTES_CAPTION%} <div class="extra-notes-caption"> {{OB_EXTRA_MA_NOTES_CAPTION}} </div> {%endif%}
{%for ma_note in OB_EXTRA_MA_NOTES%}
    {%if not ma_note[0]%} <div class="disabled"> {%endif%}
    <div class="ma-note"> {{ma_note[1]}} </div>
    {%if not ma_note[0]%} </div> {%endif%}
{%endfor%}
{%endif%}

</table>

</html>
