<html> <!-- vasl-templates:id {{SNIPPET_ID}} -->

<head>
<meta charset="utf-8">
<style> {{MA_NOTE_CSS}} </style>
</head>

<table style="
  {%if OB_ORDNANCE_MA_NOTES_WIDTH%} width: {{OB_ORDNANCE_MA_NOTES_WIDTH}} ; {%endif%}
">

<tr>
<td colspan="2" style="
  background: {{OB_COLOR}} ;
  border-bottom: 1px solid {{OB_COLOR_2}} ;
  padding: 2px 5px ;
  font-weight: bold ;
">
    {%if PLAYER_FLAG%}<img src="{{PLAYER_FLAG}}">&nbsp;{%endif%}{{PLAYER_NAME}} Ordnance Notes

{%if OB_ORDNANCE_MA_NOTES%}
<tr> <td style="padding: 0 5px;">
{%for ma_note in OB_ORDNANCE_MA_NOTES%}
    <div class="ma-note"> {{ma_note}} </div>
{%endfor%}
{%endif%}

{%if OB_ORDNANCE_EXTRA_MA_NOTES%}
<tr> <td style="padding: 0 5px;">
{%if OB_ORDNANCE_EXTRA_MA_NOTES_CAPTION%} <div class="extra-notes-caption"> {{OB_ORDNANCE_EXTRA_MA_NOTES_CAPTION}} </div> {%endif%}
{%for ma_note in OB_ORDNANCE_EXTRA_MA_NOTES%}
    <div class="ma-note"> {{ma_note}} </div>
{%endfor%}
{%endif%}

</table>

</html>
