<html> <!-- vasl-templates:id {{SNIPPET_ID}} -->

<head>
<meta charset="utf-8">
<style> {{VO_NOTE_CSS}} </style>
</head>

<table>

<tr>
<td colspan="2" style="
  background: {{OB_COLOR}} ;
  border-bottom: 1px solid {{OB_COLOR_2}} ;
  padding: 2px 5px ;
  font-weight: bold ;
">
    {%if PLAYER_FLAG%}<img src="{{PLAYER_FLAG}}">&nbsp;{%endif%}{{ORDNANCE_NAME}}

<tr>
    <td> {{ORDNANCE_NOTE_HTML}}

</table>

</html>
