/* NOTE: This CSS is split out into a separate file so we can apply it when generating Chapter H notes as images. */

img.piece { float: left ; margin-right: 0.5em ; }

.header { margin-bottom: 0.25em ; }
.header .note-number { font-weight: bold ; }
.header .name { font-weight: bold ; font-style: italic ; }

.content { text-align: justify ; }
.content li { margin-bottom: 2px ; }
.content .example { font-size: 95% ; font-style: italic ; color: #000080 ; }
.content .dagger-note { font-size:95% ; font-style: italic ; color: #303030 ; }
.content .rf { font-size: 95% ; font-style: italic ; color: #808080 ; }
.content p.errata { font-size: 95% ; font-style: italic ; color: #704040 ; }
.content span.errata { font-style: italic ; color: #704040 ; }
.content .lfloat { float: left ; margin-right: 0.5em ; }
.content .rfloat { float: right ; margin-left: 0.5em ; }
.content table { margin: 0 10px 0 10px ; margin-top: 0.5em ; font-size: 95% ; }
.content table th { padding: 2px 10px 2px 5px ; text-align: left ; background: #f0f0f0 ; }
.content table td { padding: 0 10px 0 5px ; }

table.layout td { padding: 0 5px ; }

.content .rf { display: none ; }
