<html> <!-- vasl-templates:id {{SNIPPET_ID}} -->

<head>
<meta charset="utf-8">
<style>
td { margin: 0 ; padding: 0 ; }
.note { margin-top: 2px ; font-size: 90% ; font-style: italic ; color: #808080 ; }
.comment { font-size: 90% ; font-style: italic ; color: #404040 ; }
sup { font-size: 75% ; }
</style>
</head>

<table style="
  {%if OB_VEHICLES_WIDTH%} width: {{OB_VEHICLES_WIDTH}} ; {%endif%}
">

<tr>
<td colspan="2" style="
  background: {{OB_COLOR}} ;
  border-bottom: 1px solid {{OB_COLOR_2}} ;
  padding: 2px 5px ;
  font-weight: bold ;
">
    {%if PLAYER_FLAG%}<img src="{{PLAYER_FLAG}}">&nbsp;{%endif%}{{PLAYER_NAME}} Vehicles

{%for veh in OB_VEHICLES%}
<tr style="border-bottom:1px dotted #e0e0e0;">
<td valign="top" style="padding:2px 5px 5px;">
    <b> {{veh.name}} </b>
    {%if veh.image%} <br> <img src="{{veh.image}}"> {%endif%}
    <div class="note">
        {%if veh.extn_id%} &#x2756; {%endif%}
        {%if veh.notes%}
            {{veh.note_number}}, {{veh.notes | join(", ")}}
        {%else%}
            {{veh.note_number}}
        {%endif%}
    </div>
<td valign="top" style="padding:2px 5px;">
    {%for cap in veh.capabilities%} <div class="capability"> {{cap}} </div> {%endfor%}
    {%for cmnt in veh.comments%} <div class="comment"> {{cmnt}} </div> {%endfor%}
{%endfor%}

</table>

</html>
