<html>

<head>
<style>
td { margin: 0 ; padding: 0 ; }
.note { margin-top: 2px ; font-size: 90% ; font-style: italic ; color: #808080 ; }
sup { font-size: 75% ; }
</style>
</head>

<table style="
  {%if OB_VEHICLES_WIDTH%} width: {{OB_VEHICLES_WIDTH}} ; {%endif%}
">

<tr>
<td colspan="2" style="
  background: {{OB_COLOR}} ;
  border-bottom: 1px solid {{OB_COLOR_2}} ;
  padding: 2px 5px ;
  font-weight: bold ;
">
    {{PLAYER_NAME}} Vehicles

{%for veh in OB_VEHICLES%}
<tr style="border-bottom:1px dotted #e0e0e0;">
<td valign="top" style="padding:2px 5px 5px;">
    <b> {{veh.name}} </b>
    {%if veh.image%} <br> <img src="{{veh.image}}"> {%endif%}
    <div class="note">
        {%if veh.notes%}
            {{veh.note_number}}, {{veh.notes | join(", ")}}
        {%else%}
            {{veh.note_number}}
        {%endif%}
    </div>
<td valign="top" style="padding:2px 5px;">
    {%if veh.no_radio%} <div> {{veh.no_radio}} </div> {%endif%}
    {%if veh.no_if%} <div> {{veh.no_if}} </div> {%endif%}
    {%for cap in veh.capabilities%} <div> {{cap}} </div> {%endfor%}
    {%if veh.crew_survival%} <div> {{veh.crew_survival}} </div> {%endif%}
{%endfor%}

</table>

</html>
