<html> <!-- vasl-templates:id {{SNIPPET_ID}} -->

<head>
<meta charset="utf-8">
<style> {{CSS:common}} </style>
</head>

<table>

<tr>
<td colspan="3" style="
  background: {{OB_COLOR}} ;
  border-bottom: 1px solid {{OB_COLOR_2}} ;
  padding: 2px 5px ;
  font-size: 105% ; font-weight: bold ;
">
    {{INCLUDE:player_flag_large}}Panzerfaust

<tr>
<td colspan="2" style="padding:2px 5px;">
    Elite &amp; 1<sup>st</sup> Line MMC only.

<tr>

<td valign="top" rowspan="2" style="padding:2px 5px;">
    <b>PF check</b>: dr &le; 2 (&#9651;)
    <table style="margin-left:10px;">
        <tr>
            <td style="width:25px;"> +1 <td> HS/crew
        <tr>
            <td> +2 <td> SMC
        <tr>
            <td> +1 <td> CX
        <tr>
            <td> +1 <td> non-AFV target
    </table>
    original 6 = pinned

<td valign="top" style="padding:0 5px;">
    <table>
    <tr>
        <td class="c" width="50"> Range <td class="c"> <b>TH#</b>
    <tr>
        <td class="c"> 0 <td class="c"> 10
    <tr>
        <td class="c"> 1 <td class="c"> 8
    <tr>
        <td colspan="2" class="r" style="padding-top:5px;">
            <b>TK#:</b> 31 <br>
            16-3
    </table>

</table>

</html>
