<html>

<head>
<style>
td { margin: 0 ; padding: 0 ; }
td.c { text-align: center ; }
td.r { text-align: right ; }
</style>
</head>

<table>

<tr>
<td colspan="2" style="
  background: {{OB_COLOR}} ;
  border-bottom: 1px solid {{OB_COLOR_2}} ;
  padding: 2px 5px ;
  font-weight: bold ;
">
    PIAT

<tr>

<td style="padding:0 3px;">
    <table>
    <tr>
        <td> <b>Range</b> <td> <b>TH#</b>
    <tr>
        <td class="c"> 0 <td class="c"> 11
    <tr>
        <td class="c"> 1 <td class="c"> 9
    <tr>
        <td class="c"> 2 <td class="c"> 7
    <tr>
        <td class="c"> 3 <td class="c"> 5
    </table>

<td valign="top" style="padding:0 3px;">
    <table>
        <tr>
            <td> <b>B#:</b>
            <td class="r"> 10
        <tr>
            <td> <b>TK#:</b>
            <td class="r"> 15
        <tr>
            <td colspan="2" class="r"> 8-3
    </table>

</table>
</html>
