<html>

<table style="
  border: 1px solid #c0c0c0 ;
  background: #f0f0f0 ;
">

<td style="font-weight:bold;">
     {{PLAYER_1_NAME}}: <br>
     {{PLAYER_2_NAME}}:
<td>
    ELR: {{PLAYER_1_ELR}} <br>
    ELR: {{PLAYER_2_ELR}}
<td>
    SAN: {{PLAYER_1_SAN}} <br>
    SAN: {{PLAYER_2_SAN}}

</table>

</html>