<html> <!-- vasl-templates:id {{SNIPPET_ID}} -->

<head>
<meta charset="utf-8">
<style>
{{CSS:common}}
</style>
</head>

<table style="
  border: 1px solid #c0c0c0 ;
  background: #f0f0f0 ;
">

<td style="font-weight:bold;">
    {# Some versions of Java require <img> tags to have the width and height specified!?! #}
    {%if PLAYER_FLAG_1%}<img src="{{PLAYER_FLAG_1}}" {{PLAYER_FLAG_SIZE}}>&nbsp;{%endif%}{{PLAYER_1_NAME}}: <br>
    {%if PLAYER_FLAG_2%}<img src="{{PLAYER_FLAG_2}}" {{PLAYER_FLAG_SIZE}}>&nbsp;{%endif%}{{PLAYER_2_NAME}}:

<td style="padding-left:2px;">
    ELR: {{PLAYER_1_ELR}} <br>
    ELR: {{PLAYER_2_ELR}}

<td style="padding-left:5px;">
    SAN: {{PLAYER_1_SAN}} <br>
    SAN: {{PLAYER_2_SAN}}

</table>

</html>
