<html>

<table style="
  {%if SCENARIO_WIDTH%} width: {{SCENARIO_WIDTH}} ; {%endif%}
">

<tr>
<td style="
  background: #f0f0f0 ;
  border-bottom: 1px solid #c0c0c0 ;
  padding: 5px 10px 5px 10px ;
">
    <span style="font-size:150%;font-weight:bold;">
        {%if SCENARIO_NAME%} {{SCENARIO_NAME}} {%else%} Untitled scenario {%endif%}
    </span>
    {%if SCENARIO_LOCATION%} ({{SCENARIO_LOCATION}}) {%endif%}
    {%if SCENARIO_DATE%}
        <small><i>({{SCENARIO_MONTH_NAME}} {{SCENARIO_DAY_OF_MONTH_POSTFIX}}, {{SCENARIO_YEAR}})</i></small>
    {%endif%}
</div>

</table>

</html>
