<html> <!-- vasl-templates:id {{SNIPPET_ID}} -->

<head>
<meta charset="utf-8">
<style>
ul { margin: 0 ; padding-left: 0 ; list-style-image: url("{{IMAGES_BASE_URL}}/bullet.png") ; }
</style>
</head>

<table style="
  {%if SSR_WIDTH%} width: {{SSR_WIDTH}} ; {%endif%}
">

<tr>
<td style="
  background: #f0f0f0 ;
  border-bottom: 1px solid #c0c0c0 ;
">
    <b>Scenario Special Rules</b>

<tr>
<td>
<ul style="margin:0 0 0 10px;">
{%for ssr in SSR%}
    <li> {{ssr}}
{%endfor%}
</ul>

</table>

</html>
