<html> <!-- vasl-templates:id {{SNIPPET_ID}} -->

<head>
<meta charset="utf-8">
<style> {{CSS:common}} </style>
</head>

<table>

<tr>
<td colspan="3" style="
  background: {{OB_COLOR}} ;
  border-bottom: 1px solid {{OB_COLOR_2}} ;
  padding: 2px 5px ;
  font-size: 105% ; font-weight: bold ;
">
    {{INCLUDE:player_flag_large}}Tank-Hunter Heroes

<tr>

<td valign="top" style="padding:2px 5px;">
    THH creation: dr &le; 3 (&#9651;)
    <table style="margin-left:10px;">
        <tr>
            <td style="width:25px;"> +2 <td> if Conscript
        <tr>
            <td> +1 <td> if HS
        <tr>
            <td> -2 <td> if DC Hero
    </table>
    original 6 = pinned (unless Banzai Charge)

<tr>

{% if SCENARIO_YEAR %}
<td valign="top" style="padding:10px 5px;">
    ATMM check: dr &le; {%if SCENARIO_YEAR < 1944%} 2 {%else%} 3 {%endif%} (&#9651;)
{%endif%}

</table>

</html>
