td { margin: 0 ; padding: 0 ; }
sup { font-size: 75% ; }

.note { margin-top: 2px ; font-size: 90% ; font-style: italic ; color: #808080 ; }
.comment { font-size: 90% ; font-style: italic ; color: #404040 ; }
