{%for ma_note in OB_ORDNANCE_MA_NOTES%} [*] {{ma_note}}
{%endfor%}

{%if OB_ORDNANCE_EXTRA_MA_NOTES%}
{%if OB_ORDNANCE_EXTRA_MA_NOTES_CAPTION%} === {{OB_ORDNANCE_EXTRA_MA_NOTES_CAPTION}} === {%endif%}
{%for ma_note in OB_ORDNANCE_EXTRA_MA_NOTES%} [*] {{ma_note}}
{%endfor%}
{%endif%}
