<html>

<!-- vasl-templates:name Full template (modified) -->
<!-- vasl-templates:caption This is the caption (modified). -->
<!-- vasl-templates:description This is the description. -->
<!-- vasl-templates:comment This is the comment (shouldn't appear anywhere, including the snippet). -->

{{FOO}} <!-- nb: this is a normal parameter, not one of ours (no embedded colon) -->

<div>
modified-param = {{MODIFIED-PARAM:modified-default-val/10|The modified parameter|This is the modified parameter description.}}
new-param = {{NEW-PARAM:}}
</div>

</html>
